# Assignment Final
Los datos que se incluyen en el fichero `datos_ventas_centros_comerciales.csv` representan casi 100.000 compra-ventas realizadas en un grupo de Centros Comerciales durantes los a√±os 2021 y 2022. 

Como analista del holding propietario de los centros comerciales realiza un analisis respondiendo a las siguiente preguntas.

In [27]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import os

In [28]:
# Path to the 'data' folder
data_folder = "data"

# List all files in the folder
for file_name in os.listdir(data_folder):
    # Check if the file is a CSV
    if file_name.endswith(".csv"):
        file_path = os.path.join(data_folder, file_name)  # Create the full path
        print(f"Reading file: {file_path}")
        
        # Read the CSV file
        df = pd.read_csv(file_path)
        print(df.info())  # Display information about the DataFrame

Reading file: data\datos_ventas_centros_comerciales.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  object
 6   shopping_mall  99457 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.3+ MB
None

In [29]:
# df = pd.read_csv(r'data//')
# df.info()
print(df.head())
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d-%m-%Y')
df.info()

  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  8172.24   05-08-2022
1    I317333     C111565     Shoes         3  8868.64   12-12-2021
2    I127801     C266599  Clothing         1  4863.95   09-11-2021
3    I173702     C988172     Shoes         5   711.48   16-05-2021
4    I337046     C189076     Books         4  1110.32   24-10-2021

    shopping_mall
0          Kanyon
1  Forum Istanbul
2       Metrocity
3    Metropol AVM
4          Kanyon
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  datetime64[ns]
 6   shopping_mall  99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 5.3+ MB

In [30]:
df_2021_2022 = ((df.invoice_date >='01-01-2021') & (df.invoice_date <= '31-12-2022'))

In [31]:
df.info()
df_2021_2022 = ((df.invoice_date >='01-01-2021') & (df.invoice_date <= '31-12-2022'))
# # df['invoice_date'].apply(lambda x: x.day_name())
df_filtrado = df[df_2021_2022]
df_filtrado['invoice_date'] = df_filtrado['invoice_date'].dt.normalize()
df_filtrado.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  datetime64[ns]
 6   shopping_mall  99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 5.3+ MB

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,8172.24,2022-08-05,Kanyon
1,I317333,C111565,Shoes,3,8868.64,2021-12-12,Forum Istanbul
2,I127801,C266599,Clothing,1,4863.95,2021-11-09,Metrocity
3,I173702,C988172,Shoes,5,711.48,2021-05-16,Metropol AVM
4,I337046,C189076,Books,4,1110.32,2021-10-24,Kanyon

In [32]:
df_filtrado.head()

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,8172.24,2022-08-05,Kanyon
1,I317333,C111565,Shoes,3,8868.64,2021-12-12,Forum Istanbul
2,I127801,C266599,Clothing,1,4863.95,2021-11-09,Metrocity
3,I173702,C988172,Shoes,5,711.48,2021-05-16,Metropol AVM
4,I337046,C189076,Books,4,1110.32,2021-10-24,Kanyon

# 1. ¬øCu√°l es el total de ingresos generados por todas las ventas registradas?
Guarda el resultado en una variable llamada `total_ingresos`

In [33]:
df_filtrado['ventas'] = df_filtrado['quantity'] * df_filtrado['price']
total_ingresos = df_filtrado['ventas'].sum()

print(f'1. El total de ingreso por ventas registradas es {total_ingresos}')

1. El total de ingreso por ventas registradas es 1365286860.7

In [34]:
#modificar data con fechas

# 2. ¬øCu√°l es el centro comercial que ha generado m√°s ventas?
Guarda el resultado en una variable llamada `centro_comercial_mas_ventas`

In [35]:
#Groupby centro comercial y ventas 
centro_comercial_mas_ventas = df_filtrado.groupby('shopping_mall')['ventas'].sum().sort_values(ascending=False)


print(f'2. El centro comercial que mas ventas a generado es {centro_comercial_mas_ventas.index[0]} con {centro_comercial_mas_ventas[0]}')

2. El centro comercial que mas ventas a generado es Mall of Istanbul con 273687068.58

# 3. ¬øCu√°l es la categor√≠a de producto que ha generado mas ventas? 
Guarda el resultado en una variable llamada `categoria_mas_vendida`

In [36]:
#Groupby categoria de producto y ventas 
categoria_mas_vendida = df_filtrado.groupby('category')['ventas'].sum().sort_values(ascending=False)
categoria_mas_vendida

print(f'3. La categoria m√°s vendida es {categoria_mas_vendida.index[0]} con {categoria_mas_vendida[0]}')

3. La categoria m√°s vendida es Clothing con 470815767.35

# 4. ¬øCu√°l es el producto m√°s caro vendido?
Guarda el resultado en una variable llamada `categoria_producto_mas_caro`

In [37]:
#Groupby categoria de producto mas caro y ventas
categoria_producto_mas_caro = df_filtrado.groupby('category')['price'].max().sort_values(ascending=False)
categoria_producto_mas_caro 

print(f'4. El producto m√°s caro vendido es {categoria_producto_mas_caro.index[0]} a precio de {categoria_producto_mas_caro[0]} d√≥lares')

4. El producto m√°s caro vendido es Toys a precio de 9999.72 d√≥lares

# 5. ¬øCu√°l es la factura m√°s antigua registrada en el dataset?
Guarda el resultado en una variable llamada `factura_mas_antigua`

In [38]:

factura_mas_antigua = df_filtrado.groupby('invoice_date').first().sort_index()['invoice_no']

print(f"5. La factura m√°s antigua es la {factura_mas_antigua.iloc[0]} con fecha {factura_mas_antigua.index[0].strftime('%Y-%m-%d')}")




factura_fecha_antigua = df_filtrado['invoice_date'].min()

factura_mas_vieja = df_filtrado[df_filtrado['invoice_date']==factura_fecha_antigua]['invoice_no'].iloc[0]
factura_mas_vieja

5. La factura m√°s antigua es la I301161 con fecha 2021-01-01

'I301161'

# 6. ¬øCu√°l es la cantidad promedio de productos vendidos por transacci√≥n?
Guarda el resultado en una variable llamada `cantidad_promedio_por_transaccion`

In [39]:
# df_filtrado.groupby('invoice_no')['quantity'].mean().sort_values(ascending=False)
cantidad_promedio_por_transaccion = df_filtrado['quantity'].mean()
print(f'6. La cantidad promedio de productos vendidos es {round(cantidad_promedio_por_transaccion,4)}')

6. La cantidad promedio de productos vendidos es 3.0049

In [40]:
df_filtrado.columns

Index(['invoice_no', 'customer_id', 'category', 'quantity', 'price',
       'invoice_date', 'shopping_mall', 'ventas'],
      dtype='object')

In [41]:
df_filtrado.head(25)

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall,ventas
0,I138884,C241288,Clothing,5,8172.24,2022-08-05,Kanyon,40861.20
1,I317333,C111565,Shoes,3,8868.64,2021-12-12,Forum Istanbul,26605.92
2,I127801,C266599,Clothing,1,4863.95,2021-11-09,Metrocity,4863.95
3,I173702,C988172,Shoes,5,711.48,2021-05-16,Metropol AVM,3557.40
4,I337046,C189076,Books,4,1110.32,2021-10-24,Kanyon,4441.28
5,I227836,C657758,Clothing,5,869.43,2022-05-24,Forum Istanbul,4347.15
6,I121056,C151197,Cosmetics,1,1788.28,2022-03-13,Istinye Park,1788.28
7,I293112,C176086,Clothing,2,1336.31,2021-01-13,Mall of Istanbul,2672.62
8,I293455,C159642,Clothing,3,7393.68,2021-11-04,Metrocity,22181.04
9,I326945,C283361,Clothing,2,9057.36,2021-08-22,Kanyon,18114.72
10,I306368,C240286,Food & Beverage,2,3496.77,2022-12-25,Metrocity,6993.54
11,I139207,C191708,Books,1,4998.51,2022-10-28,Emaar Square Mall,4998.51
12,I640508,C225330,Toys,4,8427.92,2022-07-31,Metrocity,33711.68
13,I179802,C312861,Clothing,2,3360.96,2022-11-17,Cevahir AVM,6721.92
14,I336189,C555402,Clothing,2,2355.39,2022-06-03,Kanyon,4710.78
15,I688768,C362288,Shoes,5,8660.31,2021-11-07,Viaport Outlet,43301.55
16,I294687,C300786,Books,2,9303.17,2021-01-16,Metrocity,18606.34
17,I195744,C330667,Food & Beverage,3,4393.90,2022-01-05,Zorlu Center,13181.70
18,I993048,C218149,Clothing,2,753.95,2021-07-26,Metropol AVM,1507.90
21,I412481,C125696,Food & Beverage,1,3339.01,2021-05-01,Cevahir AVM,3339.01
22,I823067,C322947,Clothing,2,2899.79,2022-06-18,Cevahir AVM,5799.58
23,I252275,C313348,Technology,5,4155.59,2021-10-26,Kanyon,20777.95
24,I174250,C204553,Books,5,2626.68,2022-12-16,Metrocity,13133.40
25,I195396,C285161,Toys,2,7378.66,2021-05-16,Istinye Park,14757.32
26,I196704,C289625,Cosmetics,5,5148.96,2022-04-20,Mall of Istanbul,25744.80

# 7. ¬øCu√°l es el d√≠a con m√°s ventas registradas?
Guarda el resultado en una variable llamada `dia_con_mas_ventas`

In [42]:
# dia_con_mas_ventas = df_filtrado.groupby('invoice_date')['ventas'].sum().idxmax()
# dia_con_mas_ventas

dia_con_mas_ventas = df_filtrado['invoice_date'].value_counts()
print(f"7. El d√≠a con m√°s ventas fue el {dia_con_mas_ventas.index[0].strftime('%Y-%m-%d')}, con un total de {dia_con_mas_ventas.iloc[0]} transacciones")

7. El d√≠a con m√°s ventas fue el 2021-11-24, con un total de 159 transacciones

In [43]:
df_filtrado['invoice_date'].value_counts()

invoice_date
2021-11-24    159
2022-10-23    155
2021-01-06    155
2022-07-25    155
2021-07-19    154
             ...
2021-10-27     98
2022-10-18     98
2021-09-30     96
2021-12-02     94
2022-01-16     93
Name: count, Length: 730, dtype: int64

In [44]:
ventas_por_dia = df_filtrado.groupby('invoice_date')['quantity'].sum().sort_values(ascending=False)
print(ventas_por_dia)
dia_con_mas_ventas = ventas_por_dia.index[0]
dia_con_mas_ventas
ventas_dia_con_mas_ventas = ventas_por_dia.iloc[0]
ventas_dia_con_mas_ventas
print(f"El d√≠a con m√°s ventas fue el {dia_con_mas_ventas}, con un total de {ventas_dia_con_mas_ventas} ventas")

invoice_date
2022-06-09    483
2021-07-19    480
2021-10-28    466
2021-07-21    462
2021-11-24    460
             ...
2021-02-08    293
2021-09-30    289
2021-10-27    288
2021-09-18    285
2022-01-01    274
Name: quantity, Length: 730, dtype: int64
El d√≠a con m√°s ventas fue el 2022-06-09 00:00:00, con un total de 483 ventas

# 8. ¬øCu√°l es el cliente que m√°s ha gastado en total?
Guarda el resultado en una variable llamada `cliente_que_mas_gasto`

In [45]:
cliente_que_mas_gasto = df_filtrado.groupby('customer_id')['ventas'].max().sort_values(ascending=False)
print(f'8. El cliente que m√°s gast√≥ est√° registrado con el ID {cliente_que_mas_gasto.index[0]} gastando {round(cliente_que_mas_gasto.iloc[0],2)} d√≥lares')

8. El cliente que m√°s gast√≥ est√° registrado con el ID C233536 gastando 49997.4 d√≥lares

# 9. ¬øCu√°l es la factura con el precio total m√°s alto?
Guarda el resultado en una variable llamada `factura_max_valor`

In [46]:
factura_max_valor = df_filtrado.groupby('invoice_no')['ventas'].max().sort_values(ascending=False)
print(f'9. La factura con precio m√°s alto es la {factura_max_valor.index[0]} por un valor de {round(factura_max_valor.iloc[0],2)} d√≥lares')

9. La factura con precio m√°s alto es la I200047 por un valor de 49997.4 d√≥lares

In [47]:
df_filtrado.columns

Index(['invoice_no', 'customer_id', 'category', 'quantity', 'price',
       'invoice_date', 'shopping_mall', 'ventas'],
      dtype='object')

# 10. ¬øCu√°l es la distribuci√≥n porcentual de ventas por categor√≠a de producto?
Guarda el resultado en una variable llamada `distribucion_porcentual_ventas_por_categoria`. El tipo de `distribucion_porcentual_ventas_por_categoria` debe ser `pandas.core.series.Series` donde las etiquetas deben ser las categorias y los valores deben ser la distribucion porcentual de las ventas por categor√≠a

In [48]:
ventas_por_categoria = df_filtrado.groupby('category')['ventas'].sum().sort_values(ascending=False)

# distribucion_porcentual_ventas_por_categoria = df_filtrado.groupby('category')['ventas'].count().sort_values(ascending=False)
distribucion_porcentual_ventas_por_categoria = (ventas_por_categoria / ventas_por_categoria.sum()) * 100
print(f'10. En la tabla de abajo se muestra la distribuci√≥n porcentual de ventas por categor√≠a: \n{distribucion_porcentual_ventas_por_categoria}')

10. En la tabla de abajo se muestra la distribuci√≥n porcentual de ventas por categor√≠a:
category
Clothing           34.484750
Cosmetics          15.204410
Food & Beverage    14.915652
Toys               10.196959
Shoes              10.187487
Technology          5.051002
Books               4.983472
Souvenir            4.976267
Name: ventas, dtype: float64

# 11. ¬øCu√°l es el d√≠a de la semana con m√°s ventas registradas en cada centro comercial?
Guarda el resultado en una variable llamada `dia_semana_mas_ventas_por_centro`. El tipo de `dia_semana_mas_ventas_por_centro` debe ser `pandas.core.series.Series` donde las etiquetas deben ser el nombre de los centros comerciales y los valores deben ser el nombre del dia de la semana con mas ventas.

In [49]:
dia_semana = df_filtrado['invoice_date'].apply(lambda x: x.day_name())
dia_semana
ventas_por_dia = df_filtrado.groupby(['shopping_mall',dia_semana])['ventas'].sum()
dia_semana_mas_ventas_por_centro = ventas_por_dia.groupby('shopping_mall').idxmax().apply(lambda x: x[1])
print(f'11. En la tabla de abajo se muestra el d√≠a de la semana con m√°s ventas por centro comercial: \n{dia_semana_mas_ventas_por_centro}')

11. En la tabla de abajo se muestra el d√≠a de la semana con m√°s ventas por centro comercial:
shopping_mall
Cevahir AVM             Sunday
Emaar Square Mall       Friday
Forum Istanbul          Monday
Istinye Park            Friday
Kanyon                  Monday
Mall of Istanbul       Tuesday
Metrocity            Wednesday
Metropol AVM           Tuesday
Viaport Outlet          Friday
Zorlu Center           Tuesday
Name: ventas, dtype: object

In [50]:
dia_semana = df_filtrado['invoice_date'].apply(lambda x: x.day_name())
ventas_por_dia = df_filtrado.groupby(['shopping_mall',dia_semana])['ventas'].sum()
dia_semana_mas_ventas_por_centro = ventas_por_dia.groupby('shopping_mall').idxmax().apply(lambda x: x[1])
dia_semana_mas_ventas_por_centro

shopping_mall
Cevahir AVM             Sunday
Emaar Square Mall       Friday
Forum Istanbul          Monday
Istinye Park            Friday
Kanyon                  Monday
Mall of Istanbul       Tuesday
Metrocity            Wednesday
Metropol AVM           Tuesday
Viaport Outlet          Friday
Zorlu Center           Tuesday
Name: ventas, dtype: object

In [51]:
df_filtrado.head()

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall,ventas
0,I138884,C241288,Clothing,5,8172.24,2022-08-05,Kanyon,40861.20
1,I317333,C111565,Shoes,3,8868.64,2021-12-12,Forum Istanbul,26605.92
2,I127801,C266599,Clothing,1,4863.95,2021-11-09,Metrocity,4863.95
3,I173702,C988172,Shoes,5,711.48,2021-05-16,Metropol AVM,3557.40
4,I337046,C189076,Books,4,1110.32,2021-10-24,Kanyon,4441.28

In [52]:
dia_semana = df_filtrado['invoice_date'].apply(lambda x: x.day_name()).value_counts()
dia_semana

# ventas_por_dia = df_filtrado.groupby('ventas')[dia_semana].sum()
# ventas_por_dia

# dia_semana_mas_ventas_por_centro = (df_filtrado.groupby('shopping_mall')[dia_semana].sum())
# dia_semana_mas_ventas_por_centro

invoice_date
Friday       13196
Monday       13089
Tuesday      12978
Saturday     12967
Thursday     12953
Wednesday    12887
Sunday       12863
Name: count, dtype: int64